{% extends "base.html" %} {% block title %}Active Production{% endblock %} {% block content
    %}
    <h1 align="center">Active Production</h1>
    <ul class="list-group list-group-flush" id="active_prod">
        <table>
            <tr>
               <!-- <th>ID</th> -->
               <th>RO</th>
               <th>Damage Level</th>
               <th>Date In</th>
               <th>Tear Down</th>
               <th>Inital Estimate</th>
               <th>Estimate</th>
               <th>Body Repair</th>
            </tr>

            {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
            </tr>
            {% endfor %}  
        </table>
      </ul>

    <form method="POST" id="new_vehicle">
        <h3 align="left">Add New Vehicle</h3>
        <div class="form-group">
            <label for="ro">RO</label>
            <input
              type="text"
              class="form-control"
              id="ro"
              name="ro"
              placeholder="Enter RO"
            />
          </div>
          <div class="form-group">
            <label for="damage_level">Damage Level</label>
            <input
              type="text"
              class="form-control"
              id="damage_level"
              name="damage_level"
              placeholder="Enter damage level"
            />
          </div>
          <div class="form-group">
            <label for="date_in">Date In</label>
            <input
              type="date"
              class="form-control"
              id="date_in"
              name="date_in"
            />
          </div>
          <div class="form-group">
            <label for="tear_down">Tear Down</label>
            <input
              list = "tear_down_list"
              class="form-control"
              id="tear_down"
              name="tear_down"
              placeholder="Select from drop down"
            />
          </div>
          <div class="form-group">
            <label for="initial_estimate">Initial Estimate</label>
            <input
              list = "yes_no_list"
              class="form-control"
              id="initial_estimate"
              name="initial_estimate"
              placeholder="Select from drop down"
            />
          </div>
          <div class="form-group">
            <label for="estimate_status">Estimate Status</label>
            <input
              list = "estimate_status_list"
              class="form-control"
              id="estimate_status"
              name="estimate_status"
              placeholder="Select from drop down"
            />
          </div>
          <div class="form-group">
            <label for="body_repair">Body Repair</label>
            <input
              type="text"
              class="form-control"
              id="body_repair"
              name="body_repair"
              placeholder="Enter Body Repair info/person"
            />
          </div>
          <br />
          <button type="submit" class="btn btn-primary">Submit New Vehicle</button>
        <head>
            <style>
               table, th, td {
                  border: 1px solid black;
               }
               .green_box {
                color:black;
                background-color:green;
               }
               .red_box {
                color:black;
                background-color: red;
               }
            </style>
            <datalist id="tear_down_list">
                <option value="completed"></option>
                <option value="pending"></option>
                <option value="struc-team"></option>
                <option value="br-team"></option>
                <option value="not-required"></option>
            </datalist>
            <datalist id="yes_no_list">
                <option value="Yes"></option>
                <option value="No"></option>
            </datalist>
            <datalist id="estimate_status_list">
                <option class="green_box" value="completed" { background: green; }>Completed</option>
                <option value="pending">Pending</option>
                <option value="struc-team">Struc Team</option>
                <option value="br-team">BR Team</option>
                <option value="not-required">Not Required</option>
            </datalist>
         </head>
            
    </form>
{% endblock %}